@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
* {
   user-select: none;
   transition: all 0.5s;
}
 */

@font-face {
   font-family: 'soleil bold';
   src: url('../fonts/SoleilBold.otf') format('truetype');
}

@font-face {
   font-family: soleil;
   src: url('../fonts/SoleilRegular.otf') format('truetype');
}

body::-webkit-scrollbar {
   width: 0.2em;
   height: 0.2em;
}

body::-webkit-scrollbar-track {
   background: black;
}

body::-webkit-scrollbar-thumb {
   background: #3f3c3c;
}

body::-webkit-scrollbar-corner {
   background: black;
}

@supports (scrollbar-color: red blue) {
   * {
      scrollbar-color: #3f3c3c black;
      scrollbar-width: thin;
   }
}
