.sign-up {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   background: #38185e;
}

.vertical-line {
   border-left: 1px solid #ffffff;
   height: 500px;
}

@media (max-width: 1200px) {
   .vertical-line {
      display: none;
   }
   .signup-logo {
      display: none;
   }
}

.form-switch-section {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 5%;
}
.form-switch-section .switch-labels {
   color: white;
}

.form-switch-div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 15%;
   margin-bottom: 10px;
}
