.username-suggestion {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
}

.username-suggestion-words {
   cursor: pointer;
   user-select: none;
   font-size: 0.8em;
}
