.mobile-home-info-selection {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2vh;
   text-align: center;
   margin-bottom: 4vh;
   width: 100%;
}

@media (min-width: 1300px) {
   .mobile-home-info-selection {
      display: none;
   }
}

.mobile-home-info-selection h1 {
   text-transform: uppercase;
   font-weight: bolder;
}

.mobile-home-info-selection .circle {
   aspect-ratio: 1/1;
   width: 12px;
   border-radius: 100%;
}

.mobile-home-info-selection .circles-section {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7vw;
   width: 100%;
}
