.nav {
   position: fixed;
   top: 0;
   padding: 10px;
   transition: all 0.7s;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'soleil bold', serif;
   height: 6vh;
   background: white;
}

@media (max-width: 700px) {
   .nav {
      display: none;
   }
}

.nav-rightside {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.login-button {
   border: 2px solid #8d2cff;
   color: #8d2cff;
   width: 120px;
   padding: 7px 7px 4px 7px;
   margin: 3px;
   border-radius: 3px;
}

.login-button:hover {
   transition: all 1s;
   border-color: #58099b;
   color: #58099b;
}

.theme-toggler {
   cursor: pointer;
   user-select: none;
}

.list-navigator{
   cursor: pointer;
   background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, orange , #ab3d00, green, #3e4242, blue, violet); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, orange, #ab3d00, green, #3e4242, blue, violet); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, orange, #ab3d00, green, #3e4242, blue, violet); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, orange , #ab3d00, green, #3e4242, blue, violet); /* Standard syntax (must be last) */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
