.game-developers-component {
    width: 35%;
}

.game-platforms-name:hover {
    text-decoration: underline;
    color: #aaa;
}

.game-description-headers {
    font-size: 160%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #aaa;
}
