.resizable-paragraph-resize-text {
   cursor: pointer;
   background: white;
   color: black;
   font-weight: bold;
   margin-left: 5px;
   border-radius: 6px;
   padding: 0 3px;
   font-size: 12px;
   user-select: none;
}

.resizable-paragraph-component {
   width: 76%;
}

.resizable-paragraph-content {
   font-family: 'Open Sans', sans-serif;
   line-height: 30px;
   font-weight: 400;
}
