.reviews-component {
   background: #32383e;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   border-radius: 4px;
   user-select: none;
   text-transform: uppercase;
}

.review-type:hover {
   background: #4c5156;
}

.review-type {
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   cursor: pointer;
   border-radius: 5px;
   padding: 8px 0 6px 0;
}

.review-title {
   color: white;
   font-size: 0.8em;
   font-weight: bold;
}

.rating-count {
   color: #9c9d9f;
   font-size: 0.8em;
}
